@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Red Hat Display", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  padding: 5px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide > img {
  transition: all 0.3s;
}

.anim-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 0.5s;
  opacity: 1;
  transform: translate(-105%, 0);
  background-color: rgba(255, 255, 255, 0.8);
}

.anim-btn:hover:before {
  transform: translate(0, 0);
  opacity: 0;
}

.anim-btn:hover {
  box-shadow: none;
}

.anim-btn {
  contain: content;
}

.bottom-btn:hover {
  filter: brightness(115%) contrast(100%) saturate(140%) blur(0px)
    hue-rotate(0deg);
  animation-name: elementor-animation-pulse-grow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.bottom-btn {
  filter: brightness(100%) contrast(100%) saturate(200%) blur(0px)
    hue-rotate(176deg);
}
